@using BlazorLiveView.Core.Circuits
@using BlazorLiveView.Core.Options
@using BlazorLiveView.Dashboard.Models
@using Microsoft.Extensions.Logging
@using Microsoft.Extensions.Options
@using System.Security.Claims

@inject IOptions<LiveViewOptions> LiveViewOptions
@inject ILogger<LiveViewStatusBar> Logger

<div class="liveview-screen-status-bar">
    <div class="status-bar-item status">
        <label class="item-name">Status:</label>
        @switch (RenderState)
        {
            case LiveViewRenderState.SourceCircuitNotFound:
                <span class="item-value error">Not Found</span>
                break;
            case LiveViewRenderState.SourceCircuitClosed:
                <span class="item-value closed">Closed</span>
                break;
            case LiveViewRenderState.MirrorCircuitLoading:
                <span class="item-value loading">Loading</span>
                break;
            case LiveViewRenderState.MirrorCircuitBlocked:
                <span class="item-value warning">Blocked</span>
                break;
            case LiveViewRenderState.MirrorCircuitClosed:
                <span class="item-value closed">Mirror Closed</span>
                break;
            case LiveViewRenderState.Working:
                <span class="item-value live">Live</span>
                break;
            default: throw new Exception($"Unknown {nameof(LiveViewStatusBar)} state.");
        }
    </div>

    @if (AvailableCircuits is not null)
    {
        @* User mode status bar *@
        <div class="status-bar-item circuit-selector-item">
            <label class="item-name">Circuit:</label>
            <select class="circuit-select" value="@SelectedCircuitId" @onchange="OnSelectedCircuitIdChanged">
                @foreach (var (circuitId, circuit) in AvailableCircuits)
                {
                    var truncatedId = circuitId.Length > 8 ? circuitId[..8] + "..." : circuitId;
                    <option @key="circuitId" value="@circuitId">@truncatedId @circuit.Uri</option>
                }
            </select>
        </div>
    }
    else
    {
        @* Circuit mode status bar *@
        <div class="status-bar-item">
            <label class="item-name">Circuit ID:</label>
            <span class="item-value monospace">@(SelectedCircuitId ?? "-")</span>
        </div>
    }

    <div class="status-bar-item">
        <label class="item-name">User:</label>
        <span class="item-value monospace">@UserSelector</span>
    </div>

    <div class="status-bar-item location">
        <label class="item-name">Location:</label>
        <span class="item-value monospace" title="@(SourceCircuit?.Uri ?? "")">@(SourceCircuit?.Uri ?? "-")</span>
    </div>

    <div class="status-bar-item tools">
        <button class="tool-button @(IsSyncWindowSizeActive ? "tool-active" : "tool-inactive")"
                @onclick="OnSyncWindowSizeClicked"
                title="Sync window size">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M17 4h3c1.1 0 2 .9 2 2v2h-2V6h-3V4zM4 8V6h3V4H4c-1.1 0-2 .9-2 2v2h2zm16 8v2h-3v2h3c1.1 0 2-.9 2-2v-2h-2zM7 18H4v-2H2v2c0 1.1.9 2 2 2h3v-2zM18 8H6v8h12V8z" />
            </svg>
        </button>
        <button class="tool-button @(IsSyncScrollPositionActive ? "tool-active" : "tool-inactive")"
                @onclick="OnSyncScrollPositionClicked"
                disabled="@(!IsSyncWindowSizeActive)"
                title="Sync scroll position (also shows the user's cursor)">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M8 19h3v3h2v-3h3l-4-4-4 4zm8-15h-3V1h-2v3H8l4 4 4-4zM4 9v2h16V9H4z" />
                <path d="M4 12h16v2H4z" />
            </svg>
        </button>
        <button class="tool-button @(IsPointerActive ? "tool-active" : "tool-inactive")"
                @onclick="OnPointerClicked"
                disabled="@(!IsSyncScrollPositionActive)"
                title="Show your cursor to the user">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                <rect fill="none" height="24" width="24" />
                <path d="M11.71,17.99C8.53,17.84,6,15.22,6,12c0-3.31,2.69-6,6-6c3.22,0,5.84,2.53,5.99,5.71l-2.1-0.63C15.48,9.31,13.89,8,12,8 c-2.21,0-4,1.79-4,4c0,1.89,1.31,3.48,3.08,3.89L11.71,17.99z M22,12c0,0.3-0.01,0.6-0.04,0.9l-1.97-0.59C20,12.21,20,12.1,20,12 c0-4.42-3.58-8-8-8s-8,3.58-8,8s3.58,8,8,8c0.1,0,0.21,0,0.31-0.01l0.59,1.97C12.6,21.99,12.3,22,12,22C6.48,22,2,17.52,2,12 C2,6.48,6.48,2,12,2S22,6.48,22,12z M18.23,16.26L22,15l-10-3l3,10l1.26-3.77l4.27,4.27l1.98-1.98L18.23,16.26z" />
            </svg>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public LiveViewRenderState RenderState { get; set; }

    [Parameter]
    public IUserCircuit? SourceCircuit { get; set; }

    [Parameter]
    public Dictionary<string, IUserCircuit>? AvailableCircuits { get; set; }

    [Parameter]
    public string? SelectedCircuitId { get; set; }
    [Parameter]
    public EventCallback<string?> SelectedCircuitIdChanged { get; set; }

    [Parameter]
    public bool IsSyncWindowSizeActive { get; set; }
    [Parameter]
    public EventCallback<bool> IsSyncWindowSizeActiveChanged { get; set; }

    [Parameter]
    public bool IsSyncScrollPositionActive { get; set; }
    [Parameter]
    public EventCallback<bool> IsSyncScrollPositionActiveChanged { get; set; }

    [Parameter]
    public bool IsPointerActive { get; set; }
    [Parameter]
    public EventCallback<bool> IsPointerActiveChanged { get; set; }

    private string UserSelector => SourceCircuit is null ? "-" :
        LiveViewOptions.Value.UserSelectorExtractor(SourceCircuit.User) ?? "-";

    private void OnSelectedCircuitIdChanged(ChangeEventArgs e)
    {
        SelectedCircuitId = e.Value?.ToString();
        SelectedCircuitIdChanged.InvokeAsync(SelectedCircuitId);
    }

    private async Task OnSyncWindowSizeClicked()
    {
        IsSyncWindowSizeActive = !IsSyncWindowSizeActive;
        await IsSyncWindowSizeActiveChanged.InvokeAsync(IsSyncWindowSizeActive);
    }

    private async Task OnSyncScrollPositionClicked()
    {
        IsSyncScrollPositionActive = !IsSyncScrollPositionActive;
        await IsSyncScrollPositionActiveChanged.InvokeAsync(IsSyncScrollPositionActive);
    }

    private async Task OnPointerClicked()
    {
        IsPointerActive = !IsPointerActive;
        await IsPointerActiveChanged.InvokeAsync(IsPointerActive);
    }
}
